Repository konduit-io/TBD: changes, and which Codecov flags are due for each by the changed paths.
All: store, hooks

initial release
  packages/cl/README.md
  packages/cl/index.d.ts
  packages/cl/package.json
  packages/cl/src/index.ts
  packages/cl/src/string.ts
  packages/cl/src/time.ts
  packages/cl/tsconfig.json
  packages/dev-middleware/package.json
  packages/dev-middleware/src/logger/index.ts
  packages/dev-middleware/src/logger/print.ts
  packages/dev-middleware/src/logger/utils.ts
  packages/effect-middleware/package.json
  packages/hooks/src/StateContext.ts
  packages/hooks/src/StateProvider.tsx
  packages/hooks/src/umi/entry.tsx
  packages/hooks/src/umi/plugin.ts
  packages/hooks/src/useDispatch.ts
  packages/hooks/src/useShouldUpdate.ts
  packages/hooks/src/useSlice.ts
  packages/store/package.json
Due: store, hooks

chore(release): publish
  lerna.json
  packages/cl/package.json
  packages/dev-middleware/package.json
  packages/effect-middleware/package.json
  packages/hooks/package.json
  packages/store/package.json
Due: store, hooks

fix: add exports in hooks library
  packages/hooks/index.d.ts
  packages/hooks/src/index.ts
Due: hooks

chore(release): publish
  lerna.json
  packages/hooks/package.json
Due: hooks

fix: add publish command to build
  package.json
Due: none

fix: type importing
  packages/cl/tsconfig.json
  packages/dev-middleware/tsconfig.json
  packages/effect-middleware/src/index.ts
  packages/effect-middleware/tsconfig.json
  packages/hooks/tsconfig.json
  packages/store/tsconfig.json
Due: store, hooks

fix: travis ci
  package.json
Due: none

fix: do not modify reducer object
  packages/effect-middleware/index.d.ts
  packages/effect-middleware/src/effect.ts
  packages/effect-middleware/src/index.ts
  packages/effect-middleware/src/middleware.ts
  packages/effect-middleware/src/reducer.ts
Due: none

fix: exports
  package.json
  packages/dev-middleware/package.json
  packages/effect-middleware/package.json
  packages/effect-middleware/src/index.ts
  packages/effect-middleware/src/middleware.spec.ts
  packages/hooks/package.json
Due: hooks

chore(release): publish
  lerna.json
  packages/dev-middleware/package.json
  packages/effect-middleware/package.json
  packages/hooks/package.json
Due: hooks

fix: declarations
  packages/effect-middleware/index.d.ts
Due: none

chore(release): publish
  lerna.json
  packages/effect-middleware/package.json
Due: none

declarations
  packages/effect-middleware/index.d.ts
Due: none

fix: return composed dev middleware
  packages/dev-middleware/src/utils.ts
Due: none

chore(release): publish
  lerna.json
  packages/dev-middleware/package.json
Due: none

Path conditions:
  store: any of: packages/store
  hooks: any of: packages/hooks
